[submodule "gateway"]
        path = gateway
        url = https://github.com/MyZubster-Ecosystem/MyZubsterGateway.git
[submodule "marketplace"]
        path = marketplace
        url = https://github.com/MyZubster-Ecosystem/MyZubster-Marketplace.git
